{% extends "admin/change_form.html" %}
{% load rocksoc_html i18n %}
{% block content %}
<div id="content-main">

	{% if change %}{% if not is_popup %}{% if has_absolute_url %}
		<ul class="object-tools">
			<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>
		</ul>
	{% endif %}{% endif %}{% endif %}
	
	{% if complaints %}
		<h2>Lines we couldn't understand in your setlist</h2>
		<ul>
			{% for complaint in complaints %}
				<li>{{ complaint }}</li>
			{% endfor%}
		</ul>
	{% endif %}
	
	{% if items %}
		<h2>Setlist preview</h2>
		<p>To confirm, press Submit again without changing anything.</p>
		<ul>
			{% for item in items %}
				<li>{{ item }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	{% if actions %}
		<h2>Extra database items to be created</h2>
		<ul>
			{% for action in actions %}
				<li>{{ action }}</li>
			{% endfor%}
		</ul>
	{% endif %}
	
	<form action="./" method="post">{% csrf_token %}
		<h2><label for="id_setlist">Change setlist:</label></h2>
		{{ form.temp }}
		{{ form.setlist }}
		<br />
		<input type="submit" value="Submit" />
		<br />
		If you've changed the setlist since last time you pressed Submit, you'll be
		given an updated preview first.
		
		<p>
			Lines must be in the format Artist - Title. There are various optional bits - here are some examples.
		</p>
		<pre>
			System of a Down - Innervision
			23. System of a Down - Innervision
			System of a Down - Innervision (request)
			System of a Down - Innervision (R)
			System of a Down - Innervision [Steal This Album!] (request)
			System of a Down - Innervision [Steal This Album!]
			System of a Down - Innervision [Steal This Album!, 2002]
			System of a Down - Innervision [track 2, Steal This Album!, 2002]
		</pre>
	</form>

</div>{% endblock %}
